h3{
  text-align: center;
  margin-bottom: 10px;
}
hr{
  width: 90%;
}
ul{
  margin: 0;
  padding: 0;
  text-align: center;
}
li{
list-style-type: none;
padding: 10px;
margin:5px 0px 5px 0px;
background-color: rgb(231, 211, 184);
}
li:hover{
  background-color:rgb(159, 199, 236);
}
.logo{
  background-color: blue;
  color:#ffff;
  margin: 0 ;
}
.nav{
  background: rgb(238, 236, 236);
}
.view{
  overflow-y: scroll;
  overflow-x: hidden;
}
input{
  width: 70%;
  height: 30px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  border: none;
  text-align: center;

}
input[type='text']{
  background: rgb(228, 226, 226);
  font-size:20px ;
}
input[type='date']{
  background: rgb(228, 226, 226);
  font-size:20px ;
}

button{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}
input[type='radio']{
  margin: 5px;
  width:20px;

}


table{
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;

}
td{
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
}
.edit{
  background-color: rgb(255, 187, 0);
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px;
  border-radius: 5px;
}
.add{
  background-color: rgb(3, 114, 30);
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin: 20px 10px;

}
.addtext{
  padding: 10px;
  color:white;
  text-decoration: none;
  font-size: 25px;
}
.links{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
form{
  width: 40%;
  margin:auto;
  margin-top: 70px;
  text-align: center;
}
.heading{
  text-align: center;
  background: rgb(45, 45, 247);
  width: 50%;
  margin:auto;
  margin-bottom: 20px;

}
.heading h3{
  margin: 0;
  padding: 10px;
  color: #ffff;
  font-size: 15px;
}
.inputs{
  width: 70%;
  height: 30px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  border: none;
  text-align: center;
}
.inputs[type='text']{
  background: rgb(228, 226, 226);
  font-size:20px ;
}
.inputs[type='date']{
  background: rgb(228, 226, 226);
  font-size:20px ;
}
.radio{
  margin: 5px;
  width: 40px;
}

.radios{
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: auto;
}
::-webkit-input-placeholder { /* Edge */
  font-size: 20px;  
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 20px; 
}

::placeholder {
 
  font-size: 20px;
}
.Actions{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin:20px auto;
}
.actionbutton{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}
.Actions #green{
  background-color: rgb(3, 114, 30);
  color: #ffff;
}
.Actions #red{
  background-color: rgb(255, 0, 0);
  color: #ffff;
}
svg{
  width: 25px;
  height: 25px;
}
.main{
  display:grid;
  grid-template-columns: 10% auto;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;

}
body{
  margin: 0;
  padding: 0;
}

/* the toast */
.toast {
  position: fixed;
  bottom: 20px;
  left: 150px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.toast.show {
  opacity: 1;
  transform: translateX(-50%) translateY(-10px);
}

